In [ ]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [ ]:
high_schools
#OR
print(high_schools)

In [ ]:
for school in high_schools:
    print(school)

In [ ]:
#------------------------------------------------

In [ ]:
# A dictionary of high schools and the type of school.
#high_school_types = [{"High School": "Griffin", "Type":"District"},
                    #{"High School": "Wilson", "Type": "Charter"},
                    #{"High School": "Wright", "Type": "Charter"}]

In [ ]:
#for school in high_school_types:
    #print(school)

In [ ]:
#-----------------------------------------------------

In [ ]:
#Print a series

# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [ ]:
# Add the Pandas dependency.
import pandas as pd

In [ ]:
#create a panda series from a list
school_series = pd.Series(high_schools)
school_series

In [ ]:
#for school in school_series:
    #print(school)
        #OR
for index in range(0,len(school_series)):
    print(school_series[index])

In [ ]:
#----------------------------------------

In [ ]:
#Create a data frame V1

# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [ ]:
school_df = pd.DataFrame(high_school_dicts)
school_df

In [ ]:
#---------------------------------------------

In [ ]:
#create a data frame V2

# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
import pandas as pd

In [ ]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [ ]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["Name"] = school_name
schools_df["Type"] = type_of_school

# Print the DataFrame.
schools_df

In [ ]:
#--------------------------------------------------

In [ ]:
#create a data frame V3

# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [ ]:
import pandas as pd

In [ ]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [ ]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [ ]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["Name"] = school_name
schools_df["Type"] = type_of_school


# Print the DataFrame.
schools_df

In [ ]:
#get column names
schools_df.index

In [ ]:
# get the index number
schools_df.index

In [ ]:
#get values
schools_df.values
        #OR
#school_df.values[1]

In [ ]:
#--------------------------------

In [6]:
#create a list for each column and add each list to the new pandas DataFrame
#comma after each list
school_dict = {
    "School ID": [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14],
    "Name":["Huang High School","Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School"], 
    "Type":["District", "District", "Charter", "District", "Charter", "District", "District", "Charter", "District", "Charter", "District", "District", "Charter", "District", "Charter"]}

import pandas as pd
pd.DataFrame(school_dict)

    School ID                   Name      Type
0           0      Huang High School  District
1           1   Figueroa High School  District
2           2    Shelton High School   Charter
3           3  Hernandez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School  District
6           6    Cabrera High School  District
7           7     Bailey High School   Charter
8           8     Holden High School  District
9           9       Pena High School   Charter
10         10     Wright High School  District
11         11  Rodriguez High School  District
12         12    Johnson High School   Charter
13         13       Ford High School  District
14         14     Thomas High School   Charter